### Python ###
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/

### Project specific ###
settings_local.py

.vscode/
phone_store/db.sqlite3
phone_store/db.sqlite3
