{% extends 'base.html' %}
{% block title %}Лучшие мобилы{% endblock title %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
      <h2>Статьи</h2>
      {% for article in articles %}
      <p><a href="articles/{{ article.slug }}/">{{ article.title }}</a></p>
      {% endfor %}
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">
      {% for product in products %}
        {% include 'phone_snippet.html' %}
      {% endfor %}
  </div> <!-- /container -->

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Не знаете что одеть летом?</h1>
      <p>Вот что мы можем предложить:</p>
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4">
        <h2>Фуфайка</h2>

        <a href="./phone.html">

          <img src="./static/fufajka.jpg" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>

    </div>
  </div> <!-- /container -->

</main>
{% endblock content %}